extends layout
block content
	div.jumbotron
		h1= title
		p.lead
			| Sinopsis<br>
			|  Las clases han terminado y Greg está ansioso por pasar el mejor verano de su vida. Pero cuando su padre decide
			|    que lo que procede es estrechar el vínculo entre padre e hijo, Greg se ve obligado a hacer todo lo posible para
			|   impedir que le arruine las vacaciones. Así que Greg urde un plan, fingiendo tener un trabajo en un lujoso club
			|    de campo; pero ni siquiera eso evita que Greg pase durante ese verano unos días de perros, que incluyen
			|    embarazosos incidentes en una piscina pública y una acampada que sale terriblemente mal. Tercera entrega
			|    de la serie “El diario de Greg”.



		img(src="/img/dia.png")
		a(class ="btn btn-large btn-success", href='#') Descargar