extends layout
block content
	div.jumbotron
		h1= title
		p.lead
			| Somos Estudiantes de Ingenieria en Sistemas y Redes Informaticas, cursando el IX; y la Catedra Tecnologias Emergentes:<br>
			|  Jimmy Josue Reyes Argueta Smis014809   <br>   
			|  Leonel Leandro Sanchez Batres Smis016808<br>
		img(src="/img/f.gif" )
		img(src="/img/t.png" )
			

