extends layout
block content
	div.jumbotron
		h1= title
		p.lead
			| Sipnosis<br>
			|  Charlie (Logan Lerman, un joven tímido y marginado, escribe una serie de cartas a una persona sin identificar en las que aborda asuntos como la amistad, los
			| conflictos familiares, las primeras citas, el sexo o las drogas. El protagonista tendrá que afrontar el primer amor (Emma Watson), el suicidio de su primer amigo
			|  y su propia enfermedad mental. Al mismo tiempo, lucha por encontrar un grupo de personas con las que pueda encajar y sentirse a gusto.

		img(src="/img/invi.png")
		a(class ="btn btn-large btn-success", href='#') Descargar