extends layout
block content


	div.jumbotron

		h1= title

		p.lead		
		
			| Peliculas Online la solucion que buscas; deja de hacer esas grandes filas; ya no asistas a los cines, disfrutalas en la comodidad de tu casa con una calidad HD.
			| Y con el mejor catalogo de la WEB dividas en categorias para todo gusto.
			|


		img(src="/img/g.gif")
		a(class ="btn btn-large btn-success", href='#') Descargar



		






