extends layout
block content
	div.jumbotron
		h1= title
		p.lead
			| Leonel Leandro Sanchez Batres 
			| Leonel Leandro Sanchez Batres 
			| Leonel Leandro Sanchez Batres 
			| Leonel Leandro Sanchez Batres.
		a(class ="btn btn-large btn-success", href='#') Inicia Hoy