div.masthead
	h3.muted 
	div.navbar
		div.navbar-inner
			dic.container
				ul.nav
					li.active: a(href='/') Principal
					li: a(href='/accion') Accion
					li: a(href='/comedia') Comedia
					li: a(href='/drama') Drama
					li: a(href='/terror') Terror
					li: a(href='/contacto') Quienes Somos
					